.app {
  display: grid;
  /* background-color: #4d7d38; */
  background-image: url(../src/styles/11unsplash.jpg);
}

.app img {
  width: 20em;
}

.app nav a {
  margin: 2.2em;
  font-weight: bold;
  color: rgb(228, 223, 223);
  text-decoration: none;
  font-size: 1.2em;
}
.app header {
  border-bottom: 2px solid rgb(9, 1, 1);
  margin-bottom: 1em;
}

form.add-hamster {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-group span.error {
  color: #e7dcdc;
}
